@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import 'assets/scss/utilitie/variables';
@import 'assets/scss/utilitie/placeholders';
@import 'assets/scss/utilitie/animations';

body {
    font-family: 'Poppins', sans-serif;
}

// header 
.header {
    background: url('./assets/img/logo.png') top 5% left 10%/ 80px no-repeat, url('./assets/img/header.jpg') center/cover, ;
    height: 100vh;
    position: relative;

    .header__title {
        position: absolute;
        top: 30%;
        left: 3%;
        color: #FFF;
    }

    .header__offers-container {
        position: absolute;
        background: url('assets/img/splash.png') left -5px top 0 /contain no-repeat;
        top: 48%;
        left: 3%;
        width: 90%;
        padding: .5rem;

        .header__offer {
            color: #FFF;
            width: 70%;
            margin-top: 1.2rem;
            margin-left: 1rem;
            white-space: pre-line;
        }
    }

    &::after {
        @extend %after-section
    }

    .header__order-btn {
        position: absolute;
        top: 70%;
        left: 10%;
        color: $main-color;
        background-color: $secondry-color;
    }

    .header__arrow {
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%);
        width: 40px;
        height: 50px;
        animation: arrow ease-in-out 1s infinite;
        cursor: pointer;

        img {
            width: 100%;
        }
    }
}

// types of food
.food-types {
    padding: 2rem 0;
    text-align: center;
    position: relative;

    .food-types__heading {
        color: $main-color;
        position: relative;
        margin-bottom: 3rem;

        &::after {
            @extend %after-heading;
            width: 200px;
            transform: translate(-50%);
        }
    }

    .food-types__flex-container {
        // max-width: 1200px;
        justify-content: space-around;

        .food-type {
            padding: 2rem;
            border-radius: 4px;
            border: 1px solid transparent;
            overflow: hidden;
            margin: 1rem;
            transition: all ease .4s;

            &:hover {
                border: 1px solid rgba(0, 0, 0, .3);
                box-shadow: 0 3px 21px -2px rgba(0, 0, 0, 0.5);
                transform: translateY(-4px);
            }

            img {

                margin-bottom: 1rem;
            }

        }
    }

    &::after {
        @extend %after-section;
        bottom: -12px;
    }
}

// delivery
.delivery {
    background-color: $secondry-color;
    position: relative;
    color: #FFF;
    white-space: pre-line;
    padding: 2rem .4rem;
    position: relative;

    .delivery__advantages {
        h2 {
            // padding-left: .9rem;
            // padding-right: .4rem;
            padding-top: 1rem;
            // height: 6rem;
            background: url('assets/img/red-brush.png') left -5px top 0/100% 100% no-repeat;
            ;

        }

    }

    &::after {
        @extend %after-section
    }
}

// Popular Recipes
.popular-recipes {
    padding: 2rem 0;
    position: relative;

    h2,
    p {
        text-align: center;
    }

    h2 {
        position: relative;

        &::after {
            @extend %after-heading
        }
    }

    p {
        margin: 3rem 0;
    }

    .popular-recipes__cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        row-gap: 10px;
        column-gap: 10px;
        margin-bottom: 1rem;

        .popular-recipes__card {
            .card-subtitle svg {
                color: $secondry-color;
            }

            button {
                color: #FFF;
                margin-right: .3rem;
            }

            span {
                color: $main-color;
            }
        }
    }

    &::after {
        @extend %after-section
    }
}

// work hours
.work-hours {
    background: url(assets/img/work-ours.jpg) left 50% top 50%/cover;
    white-space: pre-line;
    color: #FFF;
    padding: 2rem 0;
    position: relative;

    .work-hours__days-count-container {
        display: flex;
        text-align: center;

        .work-hours__days-count {
            margin-right: .5rem;

            .work-hours__days-count__digit {
                background-color: $secondry-color;
                width: 45px;
                height: 40px;
                padding-top: .5rem;
                display: block;
            }
        }
    }

    &::after {
        @extend %after-section
    }
}

// testimonials
.testimonials {
    padding: 2rem 0;
    position: relative;

    .testimonials__heading,
    .testimonials__paragraph {
        text-align: center;
    }

    .testimonials__heading {
        color: $main-color;
        position: relative;
        margin-bottom: 3rem;
        padding-bottom: .5rem;

        &::after {
            @extend %after-heading
        }
    }

    .testimonials__carousel {
        margin-top: 2rem;

        .testimonial__client-rate {

            svg {
                color: $main-color;
            }

            blockquote {
                p {
                    margin-top: .5rem;
                }

                footer {
                    position: relative;

                    &::after {
                        position: absolute;
                        top: 50%;
                        //    right: 38%;
                        width: 2rem;
                        height: 1px;
                        content: '';
                        background-color: $main-color;
                    }
                }
            }
        }

        .owl-dots {
            position: absolute;
            bottom: -3%;
            left: 49%;

            .owl-dot {
                span {
                    width: 11px;
                    height: 7px;
                    margin: 5px 4px;
                    transition: all ease-in-out .4s;
                    background: #B7B5B5;
                }

                &.active {
                    span {
                        width: 14px;
                        background-color: $secondry-color;
                    }
                }
            }
        }
    }

    &::after {
        @extend %after-section
    }
}

// services quality
.services-quality {
    background-color: $secondry-color;
    position: relative;
    text-align: center;
    white-space: pre-line;
    padding: 2rem 0;

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: stretch;

        .services-quality__service {
            width: 245px;
            background-color: #FFF;
            margin: 1rem;
            padding: 1rem;

            img {
                margin-bottom: .5rem;
            }

            h5 {
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    left: 50%;
                    bottom: -10px;
                    transform: translate(-50%);
                    width: 50px;
                    height: 2px;
                    background-color: $secondry-color;
                }
            }
        }
    }

    &::after {
        @extend %after-section
    }
}

// contact us
.call-us {
    color: #FFF;
    background-color: $main-color;
    position: relative;

    .call-us__info {
        padding: 2rem;

        .call-us__info__heading {
            color: #FFF;
            margin-bottom: 1rem;
            cursor: none;
        }

        .call-us__info__phone {
            margin-bottom: 1rem;
        }

        .call-us__info__container {
            display: flex;
            margin: 1rem;

            .call-us__info__container__icon {
                color: $secondry-color;
                padding-right: 1rem;

            }

            small {
                display: block;
            }


        }

        hr {
            width: 80%;
        }

        .call-us__info__social-media-icons {
            a {
                margin-right: .5rem;
                color: #FFF;
            }
        }
    }

    .call-us__map {
        overflow: hidden;
        padding-top: 1.5rem;
    }

    &::after {
        @extend %after-section
    }
}

// footer
footer {
    padding: 2rem 0;

    .pay-methods {
        .pay-methods__logo {
            width: 150px;
            margin-bottom: .8rem;
        }

        .pay-methods__pic {
            width: 80%;
        }
    }

    .useful-links {
        .useful-links__heading {
            @extend %footer-heading;
        }

        .useful-links__flex-container {
            display: flex;
            justify-content: space-between;

            .useful-links__flex-container__1st-groub,
            .useful-links__flex-container__2nd-groub {
                list-style: none;
                margin-top: 3rem;

                li {

                    margin-bottom: .8rem;

                    a {
                        text-decoration: none;
                        color: #686868;
                        font-weight: 100;
                    }
                }

            }

            .useful-links__flex-container__1st-groub {
                padding-left: 0;
            }
        }
    }

    

    hr {
        width: 80%;
    }

    .copyright {
        text-align: center;
        padding: .3rem 0;
        display: block;
    }
}


// tablet media
@media (min-width:767px) {

    // delivery
    .delivery {
        padding-left: 2rem;

        h2 {
            background-size: 50% 100%;
        }
    }

    // popular recipes
    .popular-recipes {
        h2::after {
            transform: translate(-32%);
        }
    }

    // Testimonials 
    .testimonials {
        .testimonials__heading {
            &::after {

                left: 34%;
                transform: translate(0);
                width: 34%;
            }
        }
    }

}

// large screen 
@media (min-width:992px) {

    // delivery
    .delivery {
        position: relative;
        min-height: 650px;
        background: url(assets/img/delivery-man.png) left 0 top 40px/ auto 100% no-repeat, $secondry-color;

        .delivery__advantages {
            position: absolute;
            left: 50%;
            top: 35%;

            h2 {
                font-size: 2rem;
                padding: 2rem;
                background-size: cover;
            }
        }
    }

    // popular recipes
    .popular-recipes {
        padding: 4rem 0;

        h2::after {
            transform: translate(-20%);
        }
    }

    // testimonials
    .testimonials .testimonials__carousel{
        .owl-dots {
            top:80%
        }
    }

    //footer
    footer {
        .instagram-feed {
            .instagram-feed__heading {
                color: $main-color;
                position: relative;
                margin-bottom: 2rem;
            
                &::after {
                    content: '';
                    position: absolute;
                    width: 50px;
                    height: 1px;
                    background-color: $secondry-color;
                    bottom: -20px;
                    left: 0;
                }
            }
    
            .instagram-feed__link {
                float: left;
                overflow: hidden;
                position: relative;
                margin: .5rem;
                margin-left: 0;
    
                .instagram-feed__link__pic {
                    width: 100%;
                }
    
                .instagram-feed__link__overlay {
                    position: absolute;
                    width: 100%;
                    top: 0;
                    left: 0;
                    height: 100%;
                    background-color: rgba($color: #000000, $alpha: .7);
                    transition: opacity ease-in-out .4s;
                    opacity: 0;
    
                    svg {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        color: rgba(255, 255, 255, 0.808);
                    }
    
                    &:hover {
                        opacity: 1;
                    }
                }
            }
    
        }
    }
}

// desktop media
@media (min-width: 1200px) {

    // header 
    .header {
        background: url('./assets/img/logo.png') top 5% left 10%/ 130px no-repeat, url('./assets/img/header.jpg') center/cover, ;

        .header__title {
            font-size: 3rem;
        }

        .header__offers-container {
            .header__offer {
                font-size: 1.5rem;
                padding: .5rem;
            }
        }

        .header__order-btn {
            padding: .7rem;
            width: 10%;
            left: 5%;
        }
    }

    // Testimonials
    .testimonials {
        padding: 5rem 0;

        .testimonials__heading::after {
            left: 42%;
            width: 19%;
        }

        .testimonials__carousel {
            &::after {
                content: '';
                position: absolute;
                width: 400px;
                height: 400px;
                bottom: -15px;
                left: -15px;
                border-radius: 10px;
                z-index: -1;
                background-color: $main-color;
            }
        }
    }

    // contact us
    .call-us .call-us__info {
        padding-left: 3rem;

        .call-us__info__heading {
            margin-bottom: 2rem;
        }

        .call-us__info__phone {
            margin-bottom: 2rem;
        }

        .call-us__info__container {
            margin-bottom: 2rem;
        }
    }

    
}